form{
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px auto;
    background-color: white;
    position: relative; 
}

form h5{
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
}

form input{
    height: 40px;
    
}
.close-add-note{
    color: rgb(0, 0, 0); 
    position: absolute; 
    top: 10px; /* Distance from the top of the form */
    right: 10px; /* Distance from the right of the form */
    font-size: 35px; /* Icon size */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: color 0.3s ease, transform 0.3s ease;
}
.close-add-note:hover {
    color: rgb(8, 117, 241); 
    transform: scale(1.1); 
}